* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(6, 190, 225, 0.5),
    rgba(3, 37, 108, 1)
  );
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  text-align: center;
}

.left,
.right {
  padding: 3rem;
  border-radius: 16px;
  width: 75%;
}

.Clouds {
  background-image: url("https://media.giphy.com/media/PIh4laWJlz9bq/giphy.gif");
  background-size: cover;
}

.Clear {
  background-image: url("https://media.giphy.com/media/8mDYRMpuZkZZTqT6bS/giphy.gif");
  background-size: cover;
}

.Snow {
  background-image: url("https://media.giphy.com/media/BDucPOizdZ5AI/giphy.gif");
  background-size: cover;
}

.Rain {
  background-image: url("https://media.giphy.com/media/Mgq7EMQUrhcvC/giphy.gif");
  background-size: cover;
}

.Thunderstorm {
  background-image: url("https://media.giphy.com/media/DX1vOC6sDgBuU/giphy.gif");
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 2rem;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
}

.date-time {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 2rem;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
}

.main {
  padding: 25px;
  display: flex;
  align-items: baseline;
}

.city1,
.city2 {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-box {
  width: 75%;
  display: flex;
  margin: 3rem;
}

.search-box .search-bar {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 16px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.location-box .location {
  color: #000;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
  background: rgba(225, 225, 225, 0.7);
  border-radius: 16px;
  padding: 15px 25px;
  margin-bottom: 1rem;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 16px;
  padding: 15px 25px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 4rem;
  font-weight: 900;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
